/* home.css */
body {
    padding-top: 80px;
    /* background-image:('static/images/25.jpg'); */
}
  
.header-section {
    /* background-image:('static/images/25.jpg'); */
    background-image: url('/static/images/27.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 150px 0;
}
  
.header-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: black;
}
  
.header-section p {
    font-size: 20px;
    color: black;

}
  
.feature-box {
    text-align: center;
    padding: 40px 20px;
}
  
.feature-box i {
    font-size: 36px;
    margin-bottom: 20px;
}
  
.feature-box h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
  
.feature-box p {
    font-size: 16px;
}


.partners-section {
    background-color: #f8f8f8;
    padding: 40px 0;
    
}
/* .partnersCarousel{
    
} */
  
.partner-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
.partner-logo {
    display: block;
    max-width: 100%;
    max-height: 100px; /* Set the maximum height for partner logos */
    margin: 0 auto;
  }
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
  
.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
    content: '\2039'; /* Left arrow code: U+2039 */
    content: '\203a'; /* Right arrow code: U+203A */
}
  
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
  